#buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.facility-button {
    border: 0px;
    font-size: 1.2em;
    background-color: #FFFFFF;
    min-width: 75px;
    min-height: 25px;
    padding: 3px 10px;
    font-family: "Monsterrat", Arial, Helvetica, sans-serif;
}

.facility-button:hover {
    color: #5ca71f;
}